<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HRC</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
</head>
<body>
  <main id="app">
    <section class="section">
      <div class="container">
        <center><h1 class="title">HRC Responses</h1></center>
        <br />
        <div class="field">
          <label class="label">Job Type</label>
          <div class="select is-fullwidth">
            <select v-model="selectedJob" @change="onJobChange">
              <!--CHANGE-->
              <option v-for="job in jobList" :key="job" :value="job.sheet">
                {{job.name}}
              </option>
            </select>
          </div>
        </div>
          <div class="field">
            <label class="label">Camp</label>
            <div class="select is-fullwidth">
              <select v-model="selectedCamp" @change="onCampChange">
                <option v-for="camp in campList" :key="camp">
                  {{camp}}
                </option>
              </select>
            </div>
          </div>
          <div class="field">
            <label class="label">Block</label>
            <div>
              <input class="input is-fullwidth" v-model="selectedBlock" @change="onCampChange" />
            </div>
          </div>
          <div class="field">
            <label class="label">Date</label>
            <div>
              <input class="input is-fullwidth" type="date" v-model="selectedDate" @change="onDateChange"/>
            </div>
          </div>
          <div class="field">
            <label class="label">Job</label>
            <div class="select is-fullwidth">
              <select v-model="selectedResponse">
                <option v-for="response in filteredResponseByCampList"
                        :key="response[0].data"
                        :value="response">
                  {{response[3].data}}
                </option>
              </select>
            </div>
            <label class="label" v-if="pleaseWait">Please wait...</label>
            <label class="label" v-if="!pleaseWait && filteredResponseByCampList.length === 0">No results found</label>
          </div>
          <div class="card" v-if="selectedResponse">
            <div class="card-content">
              <p class="title">Response Data</p>
              <hr />
              <table class="table is-striped is-fullwidth">
                <thead>
                  <tr>
                    <th>Question</th>
                    <th>Response</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in selectedResponse" :key="item.title">
                    <td>{{item.title}}</td>
                    <td>{{item.data}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</section>
  </main>

  <script>
      const v = new Vue({
        el: "#app",
        data() {
          return {
            sheetDataArray: [],
            columnTitleArray: [],
            responseArray: [],
            campList: ["Amoy Quee Camp", "Dieppe Barrack", "Khatib camp", "Mandai Hill Camp", "Nee soon camp", "Nee soon driclad", "Seletar Camp", "Sembawang camp"],
            jobList: [
              { name: "All", sheet: "All" },
              { name: "Compressed Air Gas Systems",     sheet: "1Rml_EYSOib0t1QenyRsGiTB24jAKo2UzB5YugYnicTo" },
              { name: "Work Involving Confined Spaces", sheet: "1KWuJuKHb3wjCtXA016kID36V9o0b6adXJmLKfGIqw38" },
              { name: "Electrical Works",               sheet: "1ihj2Y2E5H5BDENudmPQdX4ATzN1ebmBRxVVE0TQEczc" },
              { name: "Excavator Operations",           sheet: "1wKSH3JFRJyquOxHMgfeo67KWl8EbFRewD77bFbPXO4M" },
              { name: "Hot Works",                      sheet: "1mVkDLn7igyxR-7exZJxkDS6HpNeJmT77_FYcLqw9m3o" },
              { name: "Lorry Crane Operations",         sheet: "18G7K9DUvKIUX3_-524rAVKFks2WbQ075MzCcdRhobpU" },
              { name: "MEWP Operations",                sheet: "1j-Or_wOM-5lJSIGR0zbjkLiIaMnjM7JTcNreEQjJrjs" },
              { name: "Mobile Crane Operations",        sheet: "1vjQEOZ3QHikDWmrjOpVtn6qXywzK3BFlIe2-P6mteEw" },
              { name: "Rooftop Works",                  sheet: "129yhUMQX6si31U9UMPNUQbWQLd6XS7tVv2-Y6UgUibw" },
              { name: "Scaffolding Works",              sheet: "1BXAVWEUr8Sj8jMU4hWjo1ewWH8x6gNzCPGLv_jWYr2c" },
              ],
            selectedResponse: null,
            selectedJob: null,
            selectedCamp: null,
            selectedBlock: null,
            selectedDate: "2022-02-22",
            pleaseWait: false
          };
        },
        computed: {
          filteredResponseByCampList() {
            let retArray = [];
            if (this.selectedCamp && this.selectedBlock) {
              retArray = this.responseArray.filter(
                (res) => (res[1].data === this.selectedCamp && res[2].data === this.selectedBlock && new Date(this.selectedDate).toDateString() === new Date(res[3].data).toDateString())
              );
            }
            return retArray;
          },
        },
        methods: {
          setColumnTitleArray() {
            this.columnTitleArray = [];
            // We have a max of 97 possible options thus we stop after retrieving the first 97 columns of the first row
            for (let index = 0; index < this.sheetDataArray[0].length; index++) {
              this.columnTitleArray.push(
                this.sheetDataArray[0][index]
              );
            }
          },
          setResponsesArray(clr) {
            // We want to break the responses down to individual objects before placing them in responseArray
            // We start at 97 as the elements before are titles
            // We start at row 2 as the first row contains titles
            let currRow = "2";
            let tmpObjArray = [];
            console.log(clr);
            if(clr) this.responseArray = [];
            for (let row = 1; row < this.sheetDataArray.length; row++) {
              for(let col = 0; col < this.sheetDataArray[row].length; col++){
                let cellData = this.sheetDataArray[row][col];
                //This cell is within the same row
                let colTitle = this.columnTitleArray[col];
                let colData = cellData;
                const tmpObj = {
                  title: colTitle,
                  data: colData,
                };
                tmpObjArray.push(tmpObj);

              }
              // We have moved on to the next row. Thus, we want to push tmpObjArray to responseArray before proceeding
              if (tmpObjArray.length !== 0)
                this.responseArray.push([...tmpObjArray]);
              tmpObjArray = [];
            }
            console.log(this.responseArray);
          },
          onCampChange() {
            this.selectedResponse = null;
            //this.campList.add("Hello World");
          },
          async onJobChange() {
            this.pleaseWait = true;
            this.selectedResponse = null;
            if(this.selectedJob === "All"){
              this.responseArray = [];
              for (let i = 1; i < this.jobList.length; i++) {
                let res = await fetch(
                  "https://sheets.googleapis.com/v4/spreadsheets/" + this.jobList[i].sheet + "/values/Form%20Responses%201?alt=json&key=AIzaSyCFG3Jua0zPU_rcZPUpseT1v5L5JA5wuog"
                );  //change
                let resData = await res.json();
                this.sheetDataArray = resData.values;
                this.setColumnTitleArray();
                this.setResponsesArray(false);
              }
              this.pleaseWait = false;
            } else {
              let res = await fetch(
                "https://sheets.googleapis.com/v4/spreadsheets/" + this.selectedJob + "/values/Form%20Responses%201?alt=json&key=AIzaSyCFG3Jua0zPU_rcZPUpseT1v5L5JA5wuog"
              );  //change
              let resData = await res.json();
              this.sheetDataArray = resData.values;
              this.setColumnTitleArray();
              await this.setResponsesArray(true);
              this.pleaseWait = false;
            }
          },
          async onDateChange(){
            console.log(this.selectedDate);
            //console.log(this.selectedResponse[3].data);
            console.log(new Date(this.selectedDate).toDateString());
            console.log(this.responseArray[0][3].data);
            console.log(new Date(this.responseArray[0][3].data).toDateString());
            this.selectedResponse = null;
          },
        },
      });
  </script>
</body>
</html>